


@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url(./fonts/PlayfairDisplay.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Ink Free';
  src: local('Ink Free'), url(./fonts/Inkfree.ttf) format('truetype');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sectionBody {    
    width: 100%;
    border-radius: 5px;
	padding-bottom: 25px;

}

.sectionBody button {
    border-radius: 5px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.projectSeperator {
	margin-top: 45px;
}

.projectSeperator hr {
	width: 70%;
	height: 2px;
	color: #86888B;
}

.sectionBody p {
    margin: 1.5em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.sectionBody h1 {
    margin: 1.2em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    text-align: center;
}

.sectionBody h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.sectionBody h4 {
    margin: 1em;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1em;    
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


